@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
font-family: 'Quicksand', sans-serif;
}

.outlined-home-btn{
 font-size: 1.5rem;
 padding-left: 1em;
 padding-right: 1em;
 padding-top: 0.2em;
 padding-bottom: 0.2em;
 background-color: transparent;
 border: white 1px solid;
 color: aliceblue;
 border-radius: 4px;
 margin-right: 1em;
 cursor: pointer;
 font-family: 'Poppins', sans-serif;
}

.outlined-home-btn:hover{
  background-color: #fce410;
  color: black;
  border: #fce410;
}

.contained-home-btn{
  font-size: 1.5rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: white 1px solid;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.contained-home-btn:hover{
  background-color: #fce410;
  color: black;
  border: #fce410;
}

